html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #b2bec3;
  font-family: "Nunito", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right: -75px;
  top: -75px;
}

.box {
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  position: relative;
  background-color: white;
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(134, 134, 134);
  padding: 30px;
}

h1 {
  color: #d63031;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

p {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
}

.twitter {
  font-size: 18px;
  font-weight: bold;
  background-color: #1da1f2;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 200px 7px 200px;
  position: static;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.facebook {
  font-size: 18px;
  font-weight: bold;
  background-color: #3b5998;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 193px 7px 192px;
  position: static;
}

.twitter:hover {
  background: #0b7bc1;
}

.facebook:hover {
  background: #2b406e;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
